@font-face {
  font-family: "iconfont"; /* Project id 4931049 */
  src: url('iconfont.woff2?t=1748596010338') format('woff2'),
       url('iconfont.woff?t=1748596010338') format('woff'),
       url('iconfont.ttf?t=1748596010338') format('truetype'),
       url('iconfont.svg?t=1748596010338#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CPF-1:before {
  content: "\e613";
}

.icon-a-Group12371:before {
  content: "\e617";
}

.icon-a-Group1315:before {
  content: "\e618";
}

.icon-a-Group1311:before {
  content: "\e61a";
}

.icon-Frame1:before {
  content: "\e60f";
}

.icon-a-Group1485:before {
  content: "\e610";
}

.icon-a-Group1237:before {
  content: "\e60d";
}

.icon-Frame:before {
  content: "\e60e";
}

.icon-baxi:before {
  content: "\e60c";
}

.icon-biyan:before {
  content: "\e60b";
}

.icon-mima:before {
  content: "\e609";
}

.icon-yanjing:before {
  content: "\e608";
}

.icon-a-Vector1:before {
  content: "\e607";
}

.icon-Vector:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e605";
}

.icon-pix:before {
  content: "\e604";
}

.icon-yinhangkaweihao:before {
  content: "\e603";
}

.icon-renyuan:before {
  content: "\e602";
}

.icon-shiming:before {
  content: "\e601";
}

